{#
    truncateTitle
    ============================================================================

    ## Documentation

    This macro takes a string of text, truncates it to the desired length and
    adds an ellipsis if necessary.

    - `title` is required; it's usually `entry.title`.
    - `shortTitle` is optional; `title` is used if no `shortTitle` is found.
    Typically, `shortTitle` would be a custom field with a matching default
    character limit that you would create for the entry. The user would then use
    `shortTitle` if the entry title exceeds the desired limit. The presence of
    this field is not mandatory, it's just a handy way for users to define an
    alternate, shorter title when applicable. Set the value to `null` if you
    wish to omit it while providing a limit.
    - `limit` is optional; it defaults to 50 characters, but this can be changed
    below.

    ## Usage

    {% from 'truncateTitle' import truncateTitle as title %}

    <h1>
      {{ title(entry.title, entry.shortTitle, 100) }}
    </h1>
#}

{% macro truncateTitle(title, shortTitle, limit) %}
  {% set limit = limit|default(50) %}
  {% set separator = title|length > limit ? '…' : '' %}

  {{ shortTitle ? shortTitle : title[:limit] ~ separator }}
{% endmacro %}
